server:
  port: 8084

spring:
  redis:
    host: localhost
    port: 6379

feign:
  client:
    config:
      default:
        connectTimeout: 2000
        readTimeout: 5000
        decode404: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
