server:
  port: 8084

spring:
  redis:
    host: localhost
    port: 6379

resilience4j:
  circuitbreaker:
    instances:
      postService:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowType: COUNT_BASED

feign:
  client:
    config:
      default:
        connectTimeout: 2000
        readTimeout: 5000
        decode404: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
