server:
  port: 8080

spring:
  data:
    redis:
      host: localhost
      port: 6380
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**
          filters:
            - name: RequestRateLimiter
              args:
                key-resolver: "#{@userKeyResolver}"
                redis-rate-limiter.replenishRate: 5
                redis-rate-limiter.burstCapacity: 10

        - id: comment-service
          uri: http://localhost:8084
          predicates:
            - Path=/posts/*/comments/**
          filters:
            - name: JwtAuthFilter
            - name: RequestRateLimiter
              args:
                key-resolver: "#{@userKeyResolver}"
                redis-rate-limiter.replenishRate: 10
                redis-rate-limiter.burstCapacity: 20

        - id: board-service
          uri: http://localhost:8083
          predicates:
            - Path=/posts/**
          filters:
            - name: JwtAuthFilter
            - name: RequestRateLimiter
              args:
                key-resolver: "#{@userKeyResolver}"
                redis-rate-limiter.replenishRate: 20
                redis-rate-limiter.burstCapacity: 40

        - id: websocket_route
          uri: http://localhost:8085
          predicates:
            - Path=/ws/**
          filters:
            - JwtAuthFilter
logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.data.redis: DEBUG
